{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-dark text-white d-flex">
                <h5>Products</h5>

            </div>
            <ul class="list-group list-group-flush">
                {% for product in products %}
                    <li class="list-group-item d-flex">
                        <div class="flex-fill mr-2">
                            <h5 class="mt-0 mb-0">Order</h5>
                            <div class="form-inline mt-2">
                                <div class="form-group mb-0 mr-2">
                                                                       {{ product.quantity }}
                                              </div>
                            </div>
                        </div>
                        <div class="flex-fill mr-2 text-right">
                            <b>{{ product.price }} €</b>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
